SRTM_Monitor_EC-01/fwComps/help/en_US.utf8/AlarmHelp/resource/fwAlarmHelp.dtd

<!--
(c) Copyright CERN 2005. All rights not expressly granted are reserved.
icecontrols.support@cern.ch

SPDX-License-Identifier: LGPL-3.0-only
-->

<!ELEMENT alarm (title, details+, action, contact)>
<!ELEMENT details (general, level+)>
<!ELEMENT contact ((firstname, lastname)?, email?, phone?)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT action (#PCDATA)>
<!ELEMENT general (#PCDATA)>
<!ELEMENT level (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST level
	severity CDATA #REQUIRED
>
<!ATTLIST alarm
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation CDATA "resource/fwAlarmHelp.xsd"
>
<!ATTLIST level
	severity CDATA #REQUIRED
>